body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: grid;
  grid-template-columns: 200px;
  align-items: center;
  justify-content: center;
}
.card {
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  margin-top: 50px;
  border-radius: 12px;
}
.contents {
  margin: 8px;
}
img {
  width: 100%;
  border-radius: 6px;
}
.p1 {
  font-weight: bold;
  color: hsl(218, 44%, 22%);
  font-size: 15px;
}
.p2 {
  color: hsl(220, 15%, 55%);
  font-size: 10px;
  margin: 10px;
  margin-bottom: 20px;
}
